git+https://github.com/ophexor/yt-dl@master
git+https://github.com/pyrogram/pyrogram@master
TgCrypto
py-tgcalls
python-dotenv
youtube_search_python
requests
aiohttp
aiofiles
asyncio
youtube_search
search_engine_parser
ffmpeg-python
ffmpeg
Pillow
ujson
async-lru
colorama
loguru
codecov 
flake8 
tox 
tox-travis 
pytest 
pytest-cov 
Sphinx
sphinx-autobuild 
sphinx-rtd-theme
black
isort 
pyaes
pyrogram
pyaes 
pysocks 
tgcrypto
win32-setctime
